body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  color: black;
}

#question {
  font-size: 20px;
  margin-bottom: 20px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#score {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.pie{
    text-align: bottom;
    color: white;
    border-radius: 50%
}

.profile{
    color: tomato;
}
