body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
}

.question-container {
  text-align: center;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.answer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 15px;              
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}
.answer-btn {
    padding: 10px 20px; 
    width: 42%; 
    margin: 5px; 
    font-size: 1rem; 
    border-radius: 8px;
}
.answer-btn:active {
    transform: translateY(3px); /* esto hace que se hunda un poquito al hacer clickkk */
    box-shadow: 0 1px 0 #0056b3;
}

h1 {
  color: white;
}

#question {
  font-size: 20px;
  margin-bottom: 20px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#score {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.pie{
    margin-top: auto; /* empuja el footer al fondo si el contenido es corto */
    width: 100%;
    padding: 10px;
    
}
.divfooter{
  color: white;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.profile{
    color: tomato;
}
